<%= form_for(@app_name) do |f| %>
  <% if @app_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_name.errors.count, "error") %> prohibited this app_name from being saved:</h2>

      <ul>
      <% @app_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :app_name %><br>
    <%= f.text_field :app_name %>
  </div>
  <div class="field">
    <%= f.label :business_relevant %><br>
    <%= f.number_field :business_relevant %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
