<!DOCTYPE html>
<html>
<head>
<title><%=full_title(yield(:title))%></title>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"></div>
          <%= yield() %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>


</body>
</html>
